body {
  background-color: rgb(45, 45, 49); 
  background: linear-gradient(to bottom, rgb(37, 37, 37), rgba(222,112,6,0.2), #000000);
    background-size: cover;
    color: aqua;

}

h1 {
    font-family: Lobster;
    color: bisque;
}

.ratings {
    color: yellow;
    font-family: avenir;
    font-size: 18px;
}

h1 {
    color: white;
    font-size: 45px;
}

.btn-primary {
    margin-left: 10px;
    background: yellow;
    color: blue;
}

@media screen and (max-width: 480px) {
    .movImage {
        width: 500px;
        height: 500px;
    }
    body {
        background-color: red;
    }
}

.form-control {
    width: 30%;
}

#add {
    font-size: 20px;
    color: white;
}